.body{

  font-family: 'Open Sans';
}

.card-img-top{
    height: 335px;
    width: 100%;
    display: block;
    border-radius: 10px;;
}


.card {
  border-radius: 10px;
  border-color: rgb(255, 0, 0);
  background-color: rgb(29,32,37) !important;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.card-body {
  background-color: rgb(32,39,45);
  color: white;
  border-radius: 10px;
}

.jumbotron{
  background: rgb(255, 255, 255) ;
  background-image: url("icons/jumbotron.jpg");
  background-repeat: no-repeat, repeat;
  text-align:center;
  border-radius: 0px !important;
  background-attachment: fixed;
    background-position-y: -577px;
}


.jumbotron-heading{
    color: white;
}
.header-icon{
    height: 50px;
    width: 50px;
}

.app-title{
  color: white;
}

.favorite {
    color: var(--red);
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.ri-heart-fill {
    opacity: .7;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-google {
    background-color: red;
    color: #fff;
    width: 100%;
    height: 50px;
    display:block;
    border-radius: 25px;
    border-color: red;
}

.create-account{
 margin-top: 40px;
 margin-bottom:100px;
 display:block;
}

.forgot-pw{
  margin-top: 60px;
  margin-bottom:300px;
  display:block;
 }

.article-container {
    padding-top: 50px;
    width: 60%;
    margin: auto;
  }
   
  .article-body {
    padding: 25px 0px 50px 0px;
  }

  .table-wrapper{
      max-width: 50%;
      margin:auto;
  }

  .table{
    background: rgb(48, 52, 59) !important;
    color:white !important;
  }

  .total-cost{
    font-size: 25px;
  }

  .build-detail-th{
    color:red !important;
  }

  .build-detail-image{
    width: 250px;
  }
  .build-detail-description{
  width: 275px;
  font-size:13px !important;
  }

  .build-detail-specs{
      text-align: left !important;
      overflow-wrap: break-word;
      width: 650px;
  }
  .specs-grid-container {
    display: inline-grid;
    grid-template-columns: 254px 481px;
  }

  .specs-grid-item-key{
    margin:auto;
    
  }
  
  .build-detail-price{
    width:150px;
  }

  .build-detail-container{
    background: rgb(48, 52, 59) !important;
    color: white;
    border-radius: 15px;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 1500px;
    padding: 20px;
    max-width: auto;
    height: auto;
    border: 1px solid rgb(131, 11, 11);
    margin-bottom: 40px;
  }

  .build-part-img{
    border-radius: 10%;
    display: inline-block;
    width:200px;
    height: 150px;
    padding: 4px;
    line-height: 1.42857143;
    border: 2px solid rgb(204, 23, 23);
    transition: all .2s;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;

  }

  .build-img{
      display:block;
      margin:auto;
      width: 33%;
  }

  td{
    font-size: 12px;
  }

  .image {
    border-radius: 50%;
    img {
      border-radius: 50%;
    }
  }
  
  .notification:not(:last-child) {
    margin-bottom: 0;
  }
  
  .textarea {
    outline:none;
    wrap: on;
    height: 250px !important;
    // font-family: Monaco, san-serif;
    font-size: .7rem;
    padding: 1rem;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin: auto;
    text-align: center;
  }
  
  .discussion-title {
    margin-bottom: 0;
   
  }
  .discussions-container{
    height:200px;
  }

  .discussions-avatar {
    height: 100px;
    vertical-align: middle;
  }

  .discussions-title {
    margin-top: 30px;
    margin-bottom: auto;
  }

  .all-forums{
    width:160px;
  }

  .discussions-table{
    border-radius:8px;
    margin-bottom: 1.5rem;
    background-color: #fff;
    color: #363636;
    width: 100%;
    max-width: 100%;
  }

  .discussions-table th{
   text-align:center !important;
  }
  //THEME TOGGLE SWITCH
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #df0404;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f32121;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


  //

  //DARK THEME
  .discussions-table.dark{
    border-radius:8px;
    margin-bottom: 1.5rem;
    background-color: rgb(48,52,59);
    color:rgb(123, 137, 144);
    width: 100%;
    max-width: 100%;
  }

  .discussions-table.dark th{
    color:red;
    border-bottom: solid rgb(93, 93, 93) 0.25px;
   }
  .discussions-table.dark a{
   color:rgb(216, 216, 216) !important;
  }

  .discussions-table.dark hr{
    background-color:rgb(93, 93, 93) !important;
   }

   .allforums-box.dark {
    background-color:rgb(30,37,45) !important;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: red !important;
    display: block;
    padding: 1.25rem;
  }

  .allforums-box.dark a {
    color: red !important;
  }


  .new-discussion-btn.dark{
    background-color: #c00909 !important;
    border-color: transparent;
    color: #fff !important;
    box-sizing: border-box;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.5em - 1px) calc(.75em - 1px);
    position: relative;
    vertical-align: top;
    margin-bottom:20px;
  }

  .column.is-9.dark{
    background-color: rgb(48,52,59) !important;
    color: rgb(123, 137, 144) !important;
    border-radius: 10px;
    flex: none;
    width: 75%;
    padding: .75rem;
    box-sizing: inherit;
    margin:auto;
  }
  .posts-content-box.dark{
    background-color: rgb(37, 41, 47) !important;
    color: rgb(123, 137, 144) !important;
    border-radius: 10px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    margin-top: 20px;
  }

  .create-build-form.dark {
    display: block;
    margin-top: 0em;
    background-color: rgb(48,52,59) !important;
    color: rgb(123, 137, 144) !important;
    border-radius: 10px;
}

.create-build-table.dark {
  color: rgb(123, 137, 144) !important;
  margin-bottom: 1.5rem;
  background-color: rgb(57, 58, 61) !important;
  width: 100%;
  max-width: 100%;
}

.create-build-table.dark  th{
  color:red !important;
}

.create-build-table.dark  td{
  border: solid #a10a0a;
  border-width: 0 0 1px;
  padding: .5em .75em;
  vertical-align: middle;
  overflow-wrap: break-word !important;
}



  //

  .column.is-9{
    margin:auto;
  }
  .posts-content-box hr{
    background-color:rgb(190, 190, 190) !important;
  }

  .create-build-table{
    margin-bottom: 1.5rem;
    background-color: #fff;
    color: #363636;
    width: 100%;
    max-width: 100%;
  }

  .create-build-table th:not([align]) {
    text-align: center !important;
  }
  
  .create-build-table td:not([align]) {
    text-align: center !important;
  }

  .create-build-table td, .create-build-table th {
    border: solid #dbdbdb;
    border-width: 0 0 1px;
    padding: .5em .75em;
    vertical-align: middle;
    overflow-wrap: break-word !important;
  }

  .part-price{
    width:400px !important;
  }

  .new-discussion-btn{
    background-color: #3298dc !important;
    border-color: transparent;
    color: #fff !important;
    box-sizing: border-box;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.5em - 1px) calc(.75em - 1px);
    position: relative;
    vertical-align: top;
    margin-bottom: 20px;
  }

  .all-discussions{
    width:750px;
  }

  .all-posts{
    width:150px;
  }
  .posted{
   display:flex;
   margin:auto;
   width: 165px;
  }

  .post-count{
    width:50px;
    margin:auto;
  }
  .discussions-grid {
    display:grid;
    grid-template-rows:  70px;
    grid-template-columns: 95px 680px 200px 100px;
    align-items: stretch;
    width: 700px;
    margin-right: 0px !important;
  }

  .hr-discussions-bottom {
    margin-top: 35px !important;
    margin-bottom: -25px !important;
  }

  .hr-discussions-top {
    margin-top: 0px !important;
    margin-bottom: -25px;
  }

  .forms{
    width:75%;
    margin:auto;
  }


  .description{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 85%;
  }

  .posts-box {
    // background-color: #28292a;
    border-radius: 6px;
    border: solid #8d9399 0.02px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    // color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    margin-top: 20px;
}

.allforums-box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.column.is-9 {
  flex: none;
  width: 85%;
}

.postForm {
  flex: none;
  width: 65%;
  margin:auto;
}


.input, .textarea {
  box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
  max-width: 100%;
  width: 75% !important;
  min-width: 75% !important;
}

.forumSideBar {
  margin-bottom: 30px;
}

.postButton{
  margin-top: 2px;
}

.img-avatar{
  border-radius: 50%;
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.discussion-avatar{
  border-radius: 50%;
  display: inline-block;
  max-width: 100%;
  height: 60px;
  width: 60px;
  padding: 2px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 2px solid rgb(255, 3, 3);
}


.dropdown{
  display: block;
  width: 100%;
  height: 40px;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  text-align-last: center;
}

div{
      // border: solid red 0.25px;
}

.table th:not([align]) {
  text-align: center !important;
}

.table td:not([align]) {
  text-align: center;
  // width: auto !important;
  vertical-align:middle;
  font-size: 15px;
}

.create-build-price{
    display: block;
    width: 30%;
    text-align:center;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 40px;
    margin: auto;
}

.edit-build-price{
  display: block;
  width: 55%;
  text-align:center;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  height: 100%;
  margin: auto;
}

.update-build{
  width:10px;
}


.update-build-button {
  background-color: #3273dc !important;
  border-color: transparent;
  color: #fff;
  margin-left: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(.5em - 1px) calc(.75em - 1px);
  position: relative;
  vertical-align: top;
}

.table td, .table th {
  border: solid #dbdbdb;
  border-width: 0 0 1px;
  padding: .5em .75em;
  vertical-align: middle;
}

.build-icon{
  width: 35px;
  height: 35px;
}

.pc-navbar {
  background: rgb(71, 76, 78) !important;
  background: linear-gradient(0deg, rgba(40,42,45,1) 0%, rgba(255,255,255,1) 0%, rgba(196,197,198,1) 100%) !important;
  display:inline;
}

.bg-light {

  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}  

footer{
  height: 420px;
  background: rgb(40,42,45);
  color:grey;
}

footer hr{
  background-color: grey;

}

header {
  height: 125px;
  background: rgb(30,37,45);
}

.ri-thumb-up-fill{
height: 24px !important;
width: 24px !important;

}

.comments-icon{
  margin-left: 10px;
  margin-top: 8px;
  color:white;
}
.favorite-icon{
  color:rgb(124, 18, 18);
  height:24px;
}

.ri-money-dollar-circle-line{
  color:green !important;
  margin-bottom:0.5px;
}


.ri-lg {
    font-size: 24px !important;
    line-height: 0.75em;
    vertical-align: middle !important;
}
.main-card-hr{
  border: none;
  display: block;
  height: 2px;
  margin: 1rem 0;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 340px auto auto auto;
  color: white;
  background-color: rgb(29,32,37);
  height: 40px;
}

.like-icon {
  margin:auto;
  color:white;
  float:right;
  margin-right: 12px;
  margin-bottom: 5px;
  cursor: pointer;
}

.build-cost{
    margin:auto;
    color:white;
    float:right;
}

.pcnavbar-start {
  overflow: hidden;
}
.pcnavbar-start a{
  // display:grid !important;
  // grid-template-columns: 180px 180px 180px 180px 180px 1304px;
  float: left;
  display: inline-flex;
  color: #f2f2f2;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin:auto;
  text-decoration: none;
  font-size: 17px;
  vertical-align: middle;
  background-color:rgb(30,37,45) !important;
}


.pcnavbar-start a:hover {
  background-color: #ddd;
  color: red;
}
.pcnavbar-start{
background-color:rgb(30,37,45);
}

.pcbuildapp-navbar{
  background-color:rgb(30,37,45);
  }

  .pcnavbar-profile-text{
    color: white;
  }


.navbar-loggedout-start {
  display:grid !important;
  grid-template-columns: 180px 180px 180px 180px 1304px;

}
.pcnavbar-item{
  margin: auto;
  border: solid rgb(39,49,59) 0.5px;
  width: 170px;
}

.pcnavbar-icon{
  margin-right:10px;
  margin-bottom:5px;
}

.pcnavbar-start .icon {
  display: none;
  font-size: 23px;
 
}

.icon {
 margin-left:2px;
 margin-right: 20px !important;
}

.sign-in{
  margin-top:30px;
}
.profile{
    height:auto;
    width: 100px;
}
.profile-avatar{
  border-radius: 50%;
  display: inline-block;
  height: 60px;
  width: 60px;
  padding: 1px;
  line-height: 1.42857143;
  background-color: rgb(251, 251, 251);
  border: 2px solid rgb(255, 3, 3);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.file-upload {
margin-bottom: 10px;
}

.edit-button{
  background-color: #f34e4e;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 20px;
  box-sizing: border-box;
  justify-content: center;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  position: relative;
  vertical-align: top;
}

.edit-div{
  padding-left: 70px;
  padding-right: 70px;
}

.profile-container{
  background: rgb(48, 52, 59) !important;
  color: white;
  border-radius: 10px;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  padding: 20px;
  max-width: auto;
  height: auto;
  border: 1px solid rgb(131, 11, 11);
  margin-bottom: 40px;
}

.profile-table{
  width:100%;
}

.profile-stats-row{
  font-size: 40px;
  color: red;
  text-align: center;
  background: #505255 !important;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  justify-content:center;
}

.profile-statslabel-row{
  text-align: center;
  font-size: 20px;
  background: #272727 !important;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  justify-content:center;
}

.profile-username{
  font-size: 30px;
  padding-bottom: 10px;
}

.profile-img-avatar{
  border-radius: 50%;
  display: inline-block;
  max-width: 100%;
  height: 130px;
  width: 130px;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 2px solid rgb(204, 23, 23);
  transition: all .2s;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 50px;
}

.build-img-avatar{
  border-radius: 10%;
  display: inline-block;
  max-width: 100%;
  height: 180px;
  padding: 4px;
  line-height: 1.42857143;
  border: 2px solid rgb(204, 23, 23);
  transition: all .2s;
  margin-top: 2px;
  margin-bottom: 5px;

}

.build-edit-images{
  border-radius: 10%;
  display: inline-block;
  width:250px;
  height: 200px;
  padding: 4px;
  line-height: 1.42857143;
  border: 2px solid rgb(204, 23, 23);
  transition: all .2s;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.build-card-body{
  background-color: #20272d;
  color: white;
  border-radius: 10px;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.panel-heading{
  text-align: center;
}


.profile-card-img{
  height: 150px;
  width: 200px;
  display: block;
  border-radius: 8px;
  margin:auto;
  padding: 5px;
}

.profile-card{
  width: 1200px;
  height: auto;
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  border-radius: 10px;
  border-color: red !important;
  background-color: #1d2025 !important;
  margin-bottom: 1rem !important;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.profile-card-body{
  background-color: #20272d;
  color: white;
  border-radius: 10px;
  flex: 1 1 auto;
  min-height: 1px;
  height: 150px;
  padding: 1.25rem;
}

.text-center{
  // border: 1px solid rgb(131, 11, 11);
  border-radius: 10px;
}

.profile-div{
  float: right !important;
}
.login-div{
  float: right !important;
}
.profile-div a{
  padding: 0px !important;
  margin-right:10px;
  background-color:rgb(30,37,45) !important;
}

.profile-div a:hover{
  padding: 0px !important;
  background-color:rgb(30,37,45) !important;
  color:red;
 }

.logout-span{
  margin-left: 10px;
}

.login a{
  display:none;
}
.header-login-form{
    display:grid;
    grid-template-columns: 250px 250px 100px;
    grid-gap: 10px;
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    width: 15%;
}
.header-sign-in{
  justify-content: flex-start;
  float: right;
  margin-right: 10px;
}

.py-5{
  padding-top: 1rem !important;
}

.carousel-inner img {
  width: 100%;
  height: 400px;
  border-radius: 21px;
  border: solid rgb(30,37,45);
}

.carousel{
    position: relative;
    border: solid red 4px;
    top: 20px;
    border-radius: 25px;
}

.create-build-form {
  width: 75%;
  margin: auto;
  text-align: center !important;
  padding: 3rem !important;
  border-color: #f8f9fa !important;
  border: 1px solid #dee2e6 !important;
  border-radius: 10px;
}

.create-build-form {
  display: block;
  margin-top: 0em;
}

.component{
  font-size:14px;
}

.component-description{
 width:400px;
}
.build-name-textbox{
  border-radius: 7px;
  width: 50%;
  height: 40px;
  margin-bottom: 20px;
  color: #495057;
  border: 1px solid #ced4da;
}

.build-name{
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  margin-left: 75px;
}
.build-images{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.125;
}

.build-images-dropzone{
  margin-top: 20px;
  margin-bottom: 20px;
}

.favorites-card-img{
  height: 348px;
  width: 100%;
  display: block;
  border-radius: 10px;
  margin:auto;
}

.favorites-card{
  width: 1200px;
  height: 350px;
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  border-radius: 10px;
  border-color: red !important;
  background-color: #1d2025 !important;
  margin-bottom: 1rem !important;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.favorites-card-body{
  background-color: #20272d;
  color: white;
  border-radius: 10px;
  flex: 1 1 auto;
  min-height: 1px;
  height: 98%;
  padding: 1.25rem;
}

.fav-td{
  padding-right:10px;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  padding: 20px;
  max-width: auto;
  }

  .card-text{
    color:white;
    margin-bottom: 5px;
  }

 .removeFavoriteIcon{
   float:right;
   color:red;
   cursor: pointer;
 }

 .pagination{
   justify-content: center !important;
 }

 .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: red !important;
  background-color: rgb(36,38,39);
  border: 1px solid #393a3b;
}




@media screen and (max-width: 768px) {
  .pcnavbar-start a:not(:first-child) {display: none;}
  .pcnavbar-start a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .pcnavbar-start.responsive {
    position: relative;
    display: block;
  }
  .pcnavbar-start.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 40px !important;
    margin-top: 6px;

  }
  .pcnavbar-start a:hover {
    background-color:rgb(30,37,45) !important;
    color: red;
  }
  .pcnavbar-start.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: #f2f2f2;
    width:auto;
    margin-left: 5px;
 
  }
  .ri-menu-line{
    margin-top:7px;
    color:red;
   }
  
   .ri-xl {
     vertical-align: -9px !important;
     font-size: 32px !important;
     float:right;
   }
  
   .profile-div{
    float: left !important;
  }
  .login-div{
    margin: auto !important;
    float: none !important;
  }

  .header-login-form{
    display: none;
  }

  .login{
    margin-bottom: 10px;
  }

  .component{
    display: none;
  }

  .create-build-form {
    width:auto !important;
    margin: auto;
    text-align: center !important;
    padding: 0rem !important;
    border-color: #f8f9fa !important;
    border: 1px solid #dee2e6 !important;
  }

  .section{
    padding: 0 !important;
  }
   .title:not(:last-child) {
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top: 20px;
   }

   .part-price{
     width: 50px !important;
     margin: 0px !important;
     padding-right: 0px !important;
     padding-left: 0px !important;
     padding-bottom:5px !important;
   }

   .component-description{
    width:195px;
    padding-right: 0px !important;
    padding-left: 5px !important;
  }


  .edit-build-icon{
    width:20px !important;
  }

  .edit-build-price{
    display: block;
    width: 85%;
    text-align:center;
    height: 38px ;
    padding: .375rem .75rem;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: auto;
  }

  .update-build-button {
    background-color: #3273dc !important;
    border-color: transparent;
    color: #fff;
    margin-left: 103px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding: calc(.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.5em - 1px) calc(.75em - 1px);
    position: relative;
    vertical-align: top;
  }

   .price{
     width:75%;
   }

   .discussions-td{
     width:50%;
   }

   .table{
     width:50%;
   }

   .date-posted{
     display:none;
   }
   .all-forums{
     display:none;
   }
   .allforums-box{
     display:none !important;
   }
   .posted{
     display:none;
   }

   .discussion-avatar {
    border-radius: 50%;
    display: inline-block;
    max-width: 100%;
    height: 40px;
    width: 40px;
    padding: 2px;
    line-height: 1.42857143;
    background-color: #fff;
    transition: all .2s ease-in-out;
    border: 2px solid rgb(255, 3, 3);
    }

    .p-5{
      padding: 0rem !important;
    }
    .forms{
      width: 100%;
    }
    .discussions-td {
      width:auto !important;
  }

    .discussions-grid {
      display: -webkit-box;
      align-items: stretch;
      margin-right: 0px !important;
      width:auto !important;
      height:auto !important;
      padding-top:10px;
    }

    .discussions-title {
      margin-top: 5px;
      margin-bottom: auto;
      margin-left: 5px;
      width:270px;
  }
    .post-count{
      width: 15%;
    }

    .all-discussions{
      width: auto !important;
    }

    .is-9{
      width: 100% !important;
    }

  //   .posts-box {
  //     background-color: #f8f9fa;
  //     border: solid red 0.15px;
  //     border-radius: 6px;
  //     box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  //     color: #4a4a4a;
  //     display: block;
  //     padding: 1.25rem;
  //     margin-top: 10px;
  // }

    .table{
      width: auto !important;
    }

  .favorites-card-img{
    height: 300px;
    width: 100%;
    display: block;
    border-radius: 10px;;
  }

    .build-img {
      display: block;
      margin: auto;
      padding: 5px;
      width:100%;
  }

  .carousel-inner img {
    width: 100%;
    height: 300px;
    border-radius: 21px;
    border: solid #1e252d;
  }

  .table-wrapper {
    max-width: 90%;
    margin: auto;
}

  .favorites-card{
    width: auto;
    height: auto;
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    border-radius: 10px;
    border-color:2px solid  red  !important;
    background-color: #1d2025 !important;
    margin-bottom: 1rem !important;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  .container {
    margin: auto;
    position: relative;
    width: auto;
    padding: 20px;
    }

    .profile-table{
      width:100%;
      display:inline-flex;
    }
    .profile-statslabel-row {
      text-align: center;
      font-size: 25px;
      background: #272727 !important;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 !important;
    }
    .profile-stats-row {
      font-size: 28px;
      color: red;
      text-align: center;
      background: #505255 !important;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
  }

  footer{
    height:  auto;
    background: rgb(40,42,45);
    color:grey;
  }
  
    
}


//BOOTSTRAP CUSTOM CONTAINER CSS
@media screen and (min-width: 1408px){
  .profile-container {
      max-width: 1344px;
  }
}

@media screen and (min-width: 1216px){
  .profile-container {
      max-width: 1152px;
  }
}
// @media screen and (min-width: 1024px){
//   .profile-container {
//       max-width: 960px;
//   }
// }

// @media (min-width: 1200px){
//   .profile-container, .profile-container-sm, .profile-container-md, .profile-container-lg, .profile-container-xl {
//       max-width: 1140px;
//   }
// }
// @media (min-width: 992px){
//   .profile-container, .profile-container-sm, .profile-container-md, .profile-container-lg {
//       max-width: 960px;
//   }
// }
// // @media (min-width: 768px){
// //   .profile-container, .profile-container-sm, .profile-container-md {
// //       max-width: 720px;
// //   }
// // }
// // @media (min-width: 576px){
// //   .profile-container, .profile-container-sm {
// //       max-width: 540px;
// //   }
// // }
// @media (min-width: 1200px){
//   .profile-container {
//       max-width: 1140px;
//   }
// }
// @media (min-width: 992px){
//   .profile-container {
//       max-width: 960px;
//   }
// }
// @media (min-width: 768px){
//   .profile-container {
//       max-width: 720px;
//   }
// }
// // @media (min-width: 576px){
// //   .profile-container {
// //       max-width: 540px;
// //   }
// // }

// @media (min-width: 1200px){
//   .profile-container {
//       max-width: 1140px;
//   }
// }
// @media (min-width: 992px){
//   .profile-container {
//       max-width: 960px;
//   }
// }
// @media (min-width: 768px){
//   .profile-container {
//       max-width: 720px;
//   }
// }
// // @media (min-width: 576px){
// //   .profile-container {
// //       max-width: 540px;
// //   }
// // }
// .profile-container {
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }
// @media (min-width: 1200px){
//   .profile-container, .profile-container-lg, .profile-container-md, .profile-container-sm, .profile-container-xl {
//       max-width: 1140px;
//   }
// }
// @media (min-width: 992px){
//   .profile-container, .profile-container-lg, .profile-container-md, .profile-container-sm {
//       max-width: 960px;
//   }
// }
// @media (min-width: 768px){
//   .profile-container, .profile-container-md, .profile-container-sm {
//       max-width: 720px;
//   }
// }
// @media (min-width: 576px){
//   .profile-container, .profile-container-sm {
//       max-width: 540px;
//   }
// }
// @media (min-width: 1200px){
//   .profile-container {
//       max-width: 1140px;
//   }
// }
// @media (min-width: 992px){
//   .profile-container {
//       max-width: 960px;
//   }
// }
// @media (min-width: 768px){
//   .profile-container {
//       max-width: 720px;
//   }
// }
// @media (min-width: 576px){
//   .profile-container {
//       max-width: 540px;
//   }
// }